header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #9a99a1;
    margin: -10px;
    text-align: right;
}

.logo img{ 
    width: 20%;
    padding-right: 1080px ;
}

main{
    margin-top: 15px;
    text-align: center;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#p{
    background-color:#9a99a1;
}

.personalizado::selection{
    color:#49406198;
    background-color:#9a99a1;
}

.personalizado1::selection{
    background-color:#9a99a1;
}

.conteudo{
    background-color: gainsboro;
    text-align: justify;
    padding: 15px;
    margin: 15px 10px 25px 10px;
    float: left;
    border-radius: 5px;
    box-shadow: 10px 10px 10px;
    color: #49406198;
}

.h{

    background-color: gainsboro;
    text-align: justify;
    padding: 15px;
    margin: 15px 10px 25px 10px;
    float: left;
    border-radius: 5px;
    box-shadow: 10px 10px 10px;
    color: #08101a98;
}
.rodape{
    color:#49406198;
    font-size: 10px;
    text-align: center;

}

#hino{
    display:flex;
}
